body {
    font-family: 'Quicksand', sans-serif;
}

#general {
    width: 95%;
    height: 570px;
    display: flex;
    padding: 10px;
}

/* --- JUGADOR --- */
#jugador {
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    height: 550px;
    padding: 10px;
    border-radius: 6px;
}

.jugador_activa {
    background-color: #24533e;
}

#menu_jugador {
    height: 50px;
    width: 100%;
    background-color: #b7e4c7;
    display: flex;
    border-radius: 6px;
}

#texto_puntos_jugador {
    width: 25%;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    font-weight: 600;
}

#valor_puntos_jugador {
    width: 25%;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    font-weight: 600;
}

.div_botones {
    width: 25%;
    text-align: center;
    font-size: 20px;
}

.botones {
    margin-top: 10px;
    width: 70%;
    font-size: 15px;
    padding: 5px;
    font-weight: 600;
    color: #ffffff;
    background-color: #74c69d;
    border-radius: 6px;
    border: 2px solid #52b788;
}
.botones:hover {
    color: #52b788;
    background-color: #ffffff;
}


#jug_mazo {
    width: 50%;
    height: 350px;
    background-color: #74c69d;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#img_mazo_jug {
    max-width: 55%;
    height: auto;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#img_mazo_jug:hover {
    margin-top: 20px;
    max-width: 60%;
}

#jug_nueva_carta {
    width: 50%;
    height: 350px;
    background-color: #52b788;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

#img_nueva_carta_jug {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

#jug_cartas {
    width: 100%;
    height: 150px;
    background-color: #2d6a4f;
    border-radius: 6px;
}

.img_cartas_jug {
    margin-top: 10px;
    max-width: 10%;
    height: auto;
    padding: 10px;
} 
/* --- JUGADOR --- */


/* ---- BANCA ---- */
#banca {
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    height: 550px;
    padding: 10px;
    border-radius: 6px;
}

.banca_activa {
    background-color: #a73735;    
}

#menu_banca {
    height: 50px;
    width: 100%;
    background-color: #e4b1ab;
    display: flex;
    border-radius: 6px;
}

#texto_puntos_banca {
    width: 25%;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    font-weight: 600;
}

#valor_puntos_banca {
    width: 25%;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    font-weight: 600;
}

#ban_mazo {
    width: 50%;
    height: 350px;
    background-color: #dd807e;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#img_mazo_ban {
    max-width: 55%;
    height: auto;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#ban_nueva_carta {
    width: 50%;
    height: 350px;
    background-color: #dd6969;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

#img_nueva_carta_ban {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#ban_cartas {
    width: 100%;
    height: 150px;
    background-color: #D84846;
    border-radius: 6px;
}

.img_cartas_ban {
    margin-top: 10px;
    max-width: 10%;
    height: auto;
    padding: 10px;
} 
/* ---- BANCA ---- */


/* ---- GANADOR ---- */
#footer {
    width: 96%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ganador {
    width: 25%;
    text-align: center;
    font-size: 30px;
    color: black;
    font-weight: 600;
}

.ganadorBanca {
    background-color: #dd6969;
}

.ganadorJugador {
    background-color: #52b788;
}
/* ---- GANADOR ---- */